@font-face {
    font-style: normal;
    font-family: "CarterOne";
    font-weight: normal;
    src: url("../fonts/CarterOne/CarterOne-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: normal;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-display: swap;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #12141e 100%);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#WEB3_CONNECT_MODAL_ID {
    z-index: 100;
}